@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}
body {
  font-family: 'Roboto Condensed', sans-serif;
}

/*********** Navbar ***********/
nav .navbar-brand {
  text-transform: uppercase;
  color: var(--primary-white) !important;
}

/*********** Menu Links ***********/

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  position: relative;
}
.navbar-nav > li > a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--primary-orange);
  transition: all 0.4s;
}
.navbar-nav > li > a.active::before,
.navbar-nav > li > a:focus::before,
.navbar-nav > li > a:hover::before {
  width: 100%;
}
